<app-page>
  <h2 hide={ page.position === 1 }>{ page.title }</h2>
  <div ref="content"></div>

  <ul if={ page.children } class="children row">
    <li each={ item in page.children }
       style="background-image: url({ getBgImage(this) })">
      <a href="#{item.slug}">
        <h3>{ item.title }</h3>
        <div class="description">
          <em>{ item.subtitle }</em>
        </div>
      </a>
    </li>
  </ul>

  <script>
    var tag = this
    tag.page = {}
    tag.getBgImage = function (listElement) {
      var image = listElement.item.image
      if (!image) {
        if (app.data.meta.logo) {
          return app.data.meta.logo.imageUrl
        }
        return 'none'
      }
      return image.imageUrl
    }

    var uuupdate = function () {
      //abort, if currentPage targets other template or tag not mounted
      if (app.data.currentPage.template !== 'page'
        || !tag.isMounted) {
        return
      }
      tag.page = app.data.currentPage
      tag.refs.content.innerHTML = tag.page.content
      tag.update()
    }
    this.on('mount', uuupdate)
    app.on(app.evt.pageChange, uuupdate)
  </script>
</app-page>
